.body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  background-color: #FFFFFF
}

/* HEADER --------------------------------------------------------*/
.header {
  border: 1px solid #ECECEC
}

/* Стили логотипа */
.logo {
  color: var(--active-color);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  margin-right: 93px;
}

.logo .logo-text {
  color: var(--title-color);
}

/* Стили НАВИГАЦИЯ ---------------------------------------------*/
.nav-link {
  color: var(--title-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

}

.nav-link:hover,
.nav-link:focus {
  color: var(--active-color);
}

.nav-link.active {
  color: var(--active-color);
} 

.contacts-link {
  color: var(--link-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--active-color);
}

/* Геометрия и Сетка флекс */
.header .container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 25px;
  
}

.nav-menu{
  display: flex;
  flex-direction: row;
}

.nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contacts-list {
  display: flex;
  flex-direction: row;
}

.nav-menu .nav-line {
  margin-right: 50px;
}

.nav-menu .nav-line:last-child{
  margin-right: 0px;
}

.contacts-line {
  margin-left: 50px;
}

.contacts-line:first-child {
  margin-left: 0px;
}

/* Фон и неконтентные картинки */

.contacts-link .icon {
  margin-right: 10px;
  align-items: center;
}
 
.contacts-link .icon:hover {
  fill: var(--bg-icon-active);
}

/* MAIN*/
/* Стили Герой ----------------------------------------------------*/
.section-hero {
  background-color: var(--bg-hero);
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
}

.title-hero {
  color: var(--text-active-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.order-button {
  text-align: center;
  display: inline-block;
  color: var(--text-active-color);
  background-color: var(--active-color);
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 10px 32px;
  margin-top: 30px;
}   

/* Фон и неконтентные картинки */
.section-hero {
  background-image: url(../images/Img\ Overlay.png), url(../images/hero.jpg);
  background-size: cover;
  background-position: 0  -150px;
}

/* Стили НАШИ ДОСТОИНСТВА ------------------------------------------*/
.title-description {
  text-transform: uppercase;
  color: var(--title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.text-description {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
}

/* Геометрия и Флекс сетка */

.description-box {
  display: inline-block;
  margin-top: 94px
}

.description-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--description-marg-size));
  margin-left: calc(-1 * var(--description-marg-size));
}

.description-item {
  flex-basis: calc(100% / 4 - var(--description-marg-size));
  margin-left: var(--description-marg-size);
  margin-top: var(--description-marg-size);
}


/* Стили ЧЕМ ЗАНИМАЕМСЯ ------------------------------------------*/
.work-title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
}

/* Геометрия и Флекс сетка */
.work-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--work-marg-size));
  margin-left: calc(-1 * var(--work-marg-size));
}

.work-line {
  flex-basis: calc(100% / 3 - var(--work-marg-size));
  margin-top: var(--work-marg-size);
  margin-left: var(--work-marg-size); 
}

.work .container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.work-box {
  display: inline-block;
  margin-top: 50px;
}

/* Стили НАША КОМАНДА ----------------------------------------------*/
.section-staff {
  background-color: #F5F4FA;
}

.title-staff {
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
}

.employee-title {
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  width: 270px;
  height: 19px;
  margin-top: 30px; 
}

.employee-position {
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  width: 270px;
  margin-top: 10px;
}

/* Геометрия и Флекс сетка */
.list-staff {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--card-marg-size));
  margin-left: calc(-1 * var(--card-marg-size));
}

.li-staff {
  flex-basis: calc(100% / 4 - var(--card-marg-size));
  margin-left: var(--card-marg-size);
  margin-top: var(--card-marg-size);
}

.section-staff > .container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.staff-card {
  background-color: #FFFFFF;
  padding-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: var(--box-shadow-staff);
  
}

.staff-box {
  display: inline-block;
  margin-top: 50px;
}

/* Стили FOOTER -----------------------------------------------------------*/
.footer {
  background-color: var(--bg-footer);
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer{
  color: var(--text-active-color);
}

.footer .logo {
  margin-right: 0;
}

.address-text {
  color: var(--text-active-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.19;
  margin-top: 20px;
}

.address-ul {
  margin-top: ;
}

.footer-link {
  display: block;
  color: var(--link-color-footer);
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  margin-top: 9px;
}

/* --------------------------------------------------------------------------- */

/*Стилизация Кнопки - ПОРТФОЛИО*/
.btn-link {
  color: var(---button-color);
  background-color: var(--bg-button);
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border-radius: 4px;
  padding: 6px 22px;
  cursor: pointer;
  border: none;
  letter-spacing: 0.03em;
}

.btn-link:hover,
.btn-link:focus {
  color: var(--text-active-color);
  background-color: var(--active-color);
  outline: none; 
}

.btn-link.autofocus{
  color: var(--button-color-active);
  background-color: var(--bg-button-active);
}

/* Геометрия и Флекс сетка */
.btn-list {
  display: flex;
  justify-content: center;
}

.btn-filter {
  margin-top: 94px;
}

.program-box {
  padding-top: 50px;
  padding-bottom: 94px;
}

.btn-line {
  margin-right: 8px;
}

/*Стилизация Разработки - ПОРФОЛИО ------------------------------------------*/
.program-title {
  color: var(--title-color);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  /* Геометрия */
  margin-top: 20px;
  margin-left: 24px;
  margin-right: 24px;
}

.program-type {
  color: var(--text-color);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;

  /* Геометрия */
  margin-top: 4px;
  margin-left: 24px;
  margin-right: 24px;
}

/* Геометрия и Флекс сетка */
.program-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--card-marg-size));
  margin-left: calc(-1 * var(--card-marg-size));
}

.program-item {
  flex-basis: calc(100% / 3 - var(--card-marg-size));
  margin-top: var(--card-marg-size);
  margin-left: var(--card-marg-size);

}

.progpam-card {
  padding-bottom: 20px;
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  border-color: #EEEEEE;
  
}

/* --------------------------------------------------------------------------- */